{% comment %}
** Announcement bar - static **
- Static section
{% endcomment %}

{% assign id = section.id %}
{% assign icon = section.settings.icon_label | downcase %}
{% assign size = section.settings.size %}
{% assign text_color = section.settings.text_color %}
{% assign show_close_icon = section.settings.show_close_icon %}

{% comment %} Advanced {% endcomment %}
{% assign width = section.settings.width %}
{% assign css_class = section.settings.css_class %}
{% assign custom_css = section.settings.custom_css %}

{% comment %} Is the color set to transparent? {% endcomment %}
{% assign text_alpha = text_color | color_extract: 'alpha' %}

{% comment %} Section specific CSS {% endcomment %}
{% capture section_css -%}
  .announcement-bar {
    background-color: {{ section.settings.background }};
  }

  .announcement-bar__icon {
    fill: {{ text_color }};
  }

  .announcement-bar__close {
    fill: {{ text_color }};
    background-color: {{ text_color | color_modify: 'alpha', 0.1 }};
  }

  .announcement-bar__close:hover {
    background-color: {{ text_color | color_modify: 'alpha', 0.2 }};
  }

  .message-header {
    color: {% if text_alpha != 0 %}{{ text_color }}{% else %}{{ settings.regular_color }}{% endif %};
  }
{%- endcapture -%}

{% style %}
  #shopify-section-{{ id }} {
    {% if width == 'wide' %}
      width: 100%;
    {% endif %}
  }
  {% render 'css-loop',
          css: section_css,
          id: id
  %}
  {% render 'css-loop',
          css: custom_css,
          id: id
  %}
{% endstyle %}

{% comment %} HTML markup {% endcomment %}
{% capture announcement %}
<div class="announcement-bar__container {{ css_class }}">
  <div class="announcement-bar
              is-{{ size }}
              "
        id="announcement-bar">
    <div class="section
                is-width-{{ width }}">
      <div class="message-header">
        <div class="announcement-bar__content is-justify-center show-close-icon-{{ show_close_icon }}">
          <div class="announcement-bar__text text-align-center">
            <div class="slideshow-container">
                 <a class="prev_slide" onclick="plusSlides(-1)">&#10094;</a>
                {%- for block in section.blocks -%}
                <div class="mySlides" {% if block.settings.link != '' %} onclick="window.open('{{block.settings.link}}','mywindow');" style="cursor: pointer; text-decoration: underline;" {% endif %}>{{block.settings.message}}</div>
                {%- endfor -%}
           		 <a class="next_slide" onclick="plusSlides(1)">&#10095;</a>
            </div>
          </div>
        </div>
        <div class="announcement-bar_socials">
          <a href='{{section.settings.tiktok_link}}' ><img src='{{ 'tiktok-128.png' | asset_url }}'/></a>
          <a href='{{section.settings.instagram_link}}'><img src='{{ 'instagram-128.png' | asset_url }}' /></a>
          <a href='{{section.settings.snapchat_link}}'> <img src='{{ 'snapchat-2-128.png' | asset_url }}' /></a>
          <a href='{{section.settings.youtube_link}}'><img src='{{ 'youtube-128.png' | asset_url }}' /></a>
        </div>
        {% if show_close_icon %}
          <button class="close announcement-bar__close js-close-announcement" aria-label="close">
            {% render 'icon', name: 'x' %}
          </button>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="announcement-bar__shadow" id="announcement-bar__shadow" aria-visible="false"></div>
</div>
{% endcapture %}

{% if section.settings.homepage_only %}
  {% if template == 'index' %}
    {{ announcement }}
  {% endif %}
{% else %}
  {{ announcement }}
{% endif %}

{% comment %}Javascript{% endcomment %}
<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "homepage_only": {{ section.settings.homepage_only | json }},
    "enable_sticky": {{ section.settings.enable_sticky | json }},
    "show_close_icon": {{ section.settings.show_close_icon | json }},
    "alignment": {{ section.settings.alignment | json }},
    "width": {{ section.settings.width | json }}
  }
</script>
<script>
  var slideIndex = 1;
  var maxWidth = 0;
  setWidth();
  showSlides(slideIndex);
  
  {% if section.settings.enable_loop %}
  var intervalId = window.setInterval(function(){
    plusSlides(1)
  }, {{section.settings.loop_length}});
  {% endif %}
    
  function setWidth(){
      var i;
  	  var slides = document.getElementsByClassName("mySlides");

      for (i = 0; i < slides.length; i++) {

        if(maxWidth < slides[i].clientWidth){
          maxWidth = slides[i].clientWidth + 25;
        }
        slides[i].style.display = 'none'
  	  }
  }
function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");

  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  
      
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = 'none'
  }

  slides[slideIndex-1].style.display = "block";
  slides[slideIndex-1].style.width = maxWidth + "px";
  slides[slideIndex-1].style.color = "white";
}
</script>
<script src="{{ 'z__jsAnnouncementBar.js' | asset_url }}"></script>

{% comment %}Schema{% endcomment %}
{% schema %}

{
  "name": "Announcement",
  "class": "announcement-container jsAnnouncementBar",
  "settings": 
    [{
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wide",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "homepage_only",
      "label": "Home page only",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_sticky",
      "label": "Enable sticky on scroll",
      "default": false
    },
	{
      "type": "header",
      "content": "Socials"
    },
	{
      "id": "tiktok_link",
      "type": "textarea",
      "label": "TikTok Link"
    },
	{
      "id": "instagram_link",
      "type": "textarea",
      "label": "Instagram Link"
    },
	{
      "id": "snapchat_link",
      "type": "textarea",
      "label": "Snapchat Link"
    },
	{
      "id": "youtube_link",
      "type": "textarea",
      "label": "YouTube Link"
    },
    {
      "type": "header",
      "content": "Advanced",
      "info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "checkbox",
      "id": "enable_loop",
      "label": "Enable time cycle",
      "default": false
    },
	{
      "type": "number",
      "id": "loop_length",
      "label": "Time Cycle Length (ms)",
	  "default": 5000
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
"blocks": [
      {
        "type": "header",
        "name": "Message",
        "settings": [
			{
              "id": "message",
              "type": "textarea",
             "label": "Message"
            },
			{
              "id": "link",
              "type": "textarea",
             "label": "Attach Link"
            }
        ]
      }
	]
}

{% endschema %}
