{% comment %} Content settings {% endcomment %}
{%- assign product_recommendations_heading = section.settings.product_recommendations_heading -%}
{%- assign product_recommendations_style = section.settings.product_recommendations_style -%}
{% comment %} End content settings {% endcomment %}

{% comment %} Check whether product has any tags for custom related products {% endcomment %}
{% for tag in product.tags %}
  {% if tag contains 'meta-related-collection-' %}
    {%- assign related_collection_handle = tag | remove: 'meta-related-collection-' -%}
  {% endif %}
{% endfor %}

{% if related_collection_handle != blank %}
  {% comment %} Show products based on merchant-added tags prepended with 'meta-related-collection-' {% endcomment %}
  {%- assign collection_size = collections[related_collection_handle].all_products_count -%}

  {% if collection_size > 0 %}
    {%- assign custom_collection = collections[related_collection_handle] -%}
    {%- assign products = custom_collection.products -%}
  {% endif %}

  {% if custom_collection and collection_size > 0 %}
    {%- assign show_custom_collection = true -%}
  {% endif %}
{% else %}
  {% comment %} Shopify generated dynamic recommendations, falling back to default related products (based on parent collection) {% endcomment %}
  {%- assign show_custom_collection = false -%}
  {%- assign dynamic_collection = recommendations -%}
  {%- assign products = recommendations.products -%}
  {%- assign products_length = products.size -%}
  {%- assign show_dynamic_collection = true -%}
{% endif %}

{% style %}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    width: 100%;
    {% if section.settings.width == 'wide' %}
      width: 100%;
    {% endif %}
  }
  {%
    render 'css-loop',
    css: section.settings.custom_css,
    id: section.id
  %}
{% endstyle %}

{% if section.settings.show_product_recommendations %}
  <section
    class="
      section
      is-width-{{ section.settings.width }}
    "
    {% if section.settings.animation != "none" %}data-scroll-class="{{ section.settings.animation }}"{% endif %}
  >
    {% capture product_collections_markup %}
      <script>console.log({{ product.metafields.custom_fields.size | json }});</script>
      <div class="container" id="carosel_con">
{% if product.metafields.custom_fields.size > 0  %}
<div class='demo-container'>
      <div class='carousel'>
        <input checked='checked' class='carousel__activator' id='carousel-slide-activator-1' name='carousel' type='radio'>
        <input class='carousel__activator' id='carousel-slide-activator-2' name='carousel' type='radio'>
        <input class='carousel__activator' id='carousel-slide-activator-3' name='carousel' type='radio'>
        <div class='carousel__controls'>
          <label class='carousel__control carousel__control--forward' for='carousel-slide-activator-2'>
			<svg class="flickity-button-icon-carosel" viewBox="0 0 100 100"><path d="M95,48H9.83L41,16.86A2,2,0,0,0,38.14,14L3.59,48.58a1.79,1.79,0,0,0-.25.31,1.19,1.19,0,0,0-.09.15l-.1.2-.06.2a.84.84,0,0,0,0,.17,2,2,0,0,0,0,.78.84.84,0,0,0,0,.17l.06.2.1.2a1.19,1.19,0,0,0,.09.15,1.79,1.79,0,0,0,.25.31L38.14,86A2,2,0,0,0,41,86a2,2,0,0,0,0-2.83L9.83,52H95a2,2,0,0,0,0-4Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg>
          </label>
        </div>
        <div class='carousel__controls'>
          <label class='carousel__control carousel__control--backward' for='carousel-slide-activator-1'>
            <svg class="flickity-button-icon-carosel" viewBox="0 0 100 100">
              <path d="M95,48H9.83L41,16.86A2,2,0,0,0,38.14,14L3.59,48.58a1.79,1.79,0,0,0-.25.31,1.19,1.19,0,0,0-.09.15l-.1.2-.06.2a.84.84,0,0,0,0,.17,2,2,0,0,0,0,.78.84.84,0,0,0,0,.17l.06.2.1.2a1.19,1.19,0,0,0,.09.15,1.79,1.79,0,0,0,.25.31L38.14,86A2,2,0,0,0,41,86a2,2,0,0,0,0-2.83L9.83,52H95a2,2,0,0,0,0-4Z" class="arrow"></path>
            </svg>
          </label>
          <label class='carousel__control carousel__control--forward' for='carousel-slide-activator-3'>
			<svg class="flickity-button-icon-carosel" viewBox="0 0 100 100"><path d="M95,48H9.83L41,16.86A2,2,0,0,0,38.14,14L3.59,48.58a1.79,1.79,0,0,0-.25.31,1.19,1.19,0,0,0-.09.15l-.1.2-.06.2a.84.84,0,0,0,0,.17,2,2,0,0,0,0,.78.84.84,0,0,0,0,.17l.06.2.1.2a1.19,1.19,0,0,0,.09.15,1.79,1.79,0,0,0,.25.31L38.14,86A2,2,0,0,0,41,86a2,2,0,0,0,0-2.83L9.83,52H95a2,2,0,0,0,0-4Z" class="arrow" transform="translate(100, 100) rotate(180) "></path>
            </svg>
          </label>
        </div>
        <div class='carousel__controls'>
          <label class='carousel__control carousel__control--backward' for='carousel-slide-activator-2'>
            <svg class="flickity-button-icon-carosel" viewBox="0 0 100 100">
              <path d="M95,48H9.83L41,16.86A2,2,0,0,0,38.14,14L3.59,48.58a1.79,1.79,0,0,0-.25.31,1.19,1.19,0,0,0-.09.15l-.1.2-.06.2a.84.84,0,0,0,0,.17,2,2,0,0,0,0,.78.84.84,0,0,0,0,.17l.06.2.1.2a1.19,1.19,0,0,0,.09.15,1.79,1.79,0,0,0,.25.31L38.14,86A2,2,0,0,0,41,86a2,2,0,0,0,0-2.83L9.83,52H95a2,2,0,0,0,0-4Z" class="arrow"></path>
            </svg>
          </label>
        </div>
        <div class='carousel__screen'>
          <div class='carousel__track'>
            {% if product.metafields.custom_fields["release_date"] != blank %}
                    <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
          <div class='demo-content'>
          <div class="custom-field custom-field__brand custom-field__type--text">
            <h3 class="custom-field--title">RELEASE DATE</h3>
            <div class="custom-field--value">
              {{ product.metafields.custom_fields["release_date"] }}
            </div>
          </div>
                </div>
          </div>
        {% endif %}
        {% if product.metafields.custom_fields["main_color"] != blank %}
                    <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
          <div class='demo-content'>
          <div class="custom-field custom-field__brand custom-field__type--text">
            <h3 class="custom-field--title">MAIN COLOR</h3>
            <div class="custom-field--value">
              {{ product.metafields.custom_fields["main_color"] }}
            </div>
          </div>
                </div>
          </div>
        {% endif %}
        {% if product.metafields.custom_fields["colorway"] != blank %}
                    <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
          <div class='demo-content'>
          <div class="custom-field custom-field__brand custom-field__type--text">
            <h3 class="custom-field--title">COLORWAY</h3>
            <div class="custom-field--value">
              {{ product.metafields.custom_fields["colorway"] }}
            </div>
          </div>
                </div>
          </div>
        {% endif %}
        {% if product.metafields.custom_fields["silhouette"] != blank %}
                    <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
          <div class='demo-content'>
          <div class="custom-field custom-field__brand custom-field__type--text">
            <h3 class="custom-field--title">SILHOUETTE</h3>
            <div class="custom-field--value">
              {{ product.metafields.custom_fields["silhouette"] }}
            </div>
          </div>
                </div>
          </div>
        {% endif %}
        {% if product.metafields.custom_fields["technology"] != blank %}
                    <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
          <div class='demo-content'>
          <div class="custom-field custom-field__brand custom-field__type--text">
            <h3 class="custom-field--title">TECHONOLOGY</h3>
            <div class="custom-field--value">
              {{ product.metafields.custom_fields["technology"] }}
            </div>
          </div>
                </div>
          </div>
        {% endif %}
        {% if product.metafields.custom_fields["upper_material"] != blank %}
                    <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
          <div class='demo-content'>
          <div class="custom-field custom-field__brand custom-field__type--text">
            <h3 class="custom-field--title">UPPER MATERIAL</h3>
            <div class="custom-field--value">
              {{ product.metafields.custom_fields["upper_material"] }}
            </div>
          </div>
                </div>
          </div>
        {% endif %}
        {% if product.metafields.custom_fields["designer"] != blank %}
                    <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
          <div class='demo-content'>
          <div class="custom-field custom-field__brand custom-field__type--text">
            <h3 class="custom-field--title">DESIGNER</h3>
            <div class="custom-field--value">
              {{ product.metafields.custom_fields["designer"] }}
            </div>
          </div>
                </div>
          </div>
        {% endif %}
        {% if product.metafields.custom_fields["nickname"] != blank %}
           <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
          <div class='demo-content'>
            <div class="custom-field custom-field__brand custom-field__type--text">
            <h3 class="custom-field--title">NICKNAME</h3>
            <div class="custom-field--value">
              {{ product.metafields.custom_fields["nickname"] }}
            </div>
          </div>
                </div>
          </div>
        {% endif %}
        {% if product.metafields.custom_fields["category"] != blank %}
            <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
          <div class='demo-content'>
          <div class="custom-field custom-field__brand custom-field__type--text">
            <h3 class="custom-field--title">CATEGORY</h3>
            <div class="custom-field--value">
              {{ product.metafields.custom_fields["category"] }}
            </div>
          </div>
                </div>
          </div>
        {% endif %}
        {% if product.metafields.custom_fields["brand"] != blank %}
          <div class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-4'>
          <div class='demo-content'>
          <div class="custom-field custom-field__brand custom-field__type--text">
            <h3 class="custom-field--title">BRAND</h3>
            <div class="custom-field--value">
              {{ product.metafields.custom_fields["brand"] }}
            </div>
          </div>
        </div>
  </div>
{% endif %}
          </div>
        </div>
      </div>
    </div>
        {% endif %}
        
        {% if product_recommendations_heading != blank %}
          {%
            render 'heading',
            title: product_recommendations_heading,
            heading_tag: 'h4',
            context: 'recommended-products',
            text_alignment: 'center'
          %}
        {% endif %}

        {% if product_recommendations_style == 'grid' %}
          {%
            render 'product-loop',
            products: products,
            products_per_row: section.settings.products_per,
            limit: section.settings.recommended_products_limit,
            align_height: section.settings.align_height,
            height: section.settings.collection_height,
            context: 'product_recommendations'
          %}
        {% else %}
        <div
          class="
            one-whole column
            related-products
            related-products--slider
            js-related-products-slider
          "
        >
          {%
            render 'product-slider',
            products: products,
            per_slide: section.settings.products_per,
            limit: section.settings.recommended_products_limit,
            align_height: section.settings.align_height,
            height: section.settings.collection_height,
            related_products: true,
            product_recommendations: true
          %}
        </div>
        {% endif %}
      </div>
    {% endcapture %}

    <div
      class="product-recommendations"
      data-base-url="{{ routes.product_recommendations_url }}"
      data-product-id="{{ product.id }}"
      data-section-id="{{ section.id }}"
      data-limit="{{ section.settings.recommended_products_limit }}"
      data-enabled="{{ section.settings.show_product_recommendations }}"
    >
      {{ product_collections_markup }}
    </div>
  </section>
{% endif %}

<script
  type="application/json"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "show_custom_collection": {{ show_custom_collection | json }},
    "show_product_recommendations": {{ section.settings.show_product_recommendations | json }}
  }
</script>
<script data-theme-editor-load-script src="{{ 'z__jsRecommendedProducts.js' | asset_url }}"></script>

{% schema %}
  {
    "name": "Recommended products",
    "class": "recommended-products-section jsRecommendedProducts",
    "settings": [
      {
        "type": "header",
        "content": "Product recommendations"
      },
      {
        "type": "checkbox",
        "id": "show_product_recommendations",
        "label": "Show dynamic recommendations",
        "info": "Dynamic recommendations change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)",
        "default": true
      },
      {
        "type": "radio",
        "id": "product_recommendations_style",
        "label": "Layout",
        "default": "grid",
        "options": [
          {
            "value": "slider",
            "label": "Slider"
          },
          {
            "value": "grid",
            "label": "Grid"
          }
        ]
      },
      {
        "type": "text",
        "id": "product_recommendations_heading",
        "label": "Heading",
        "default": "You may also like"
      },
      {
        "type": "range",
        "id": "products_per",
        "label": "Products per row",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "recommended_products_limit",
        "label": "Limit products",
        "min": 2,
        "max": 10,
        "step": 1,
        "default": 4
      },
      {
        "type": "header",
        "content": "Product thumbnails"
      },
      {
        "type": "checkbox",
        "id": "align_height",
        "label": "Align to height"
      },
      {
        "type": "range",
        "id": "collection_height",
        "label": "Product image height",
        "min": 150,
        "max": 400,
        "step": 10,
        "default": 200,
        "unit": "px",
        "info": "Applied when 'Align to height' is enabled. [Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022543913)"
      },
      {
        "type": "header",
        "content": "Advanced",
        "info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
      },
      {
        "type": "text",
        "id": "css_class",
        "label": "CSS Class"
      },
      {
        "type": "textarea",
        "id": "custom_css",
        "label": "Custom CSS"
      }
    ]
  }
{% endschema %}
